
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.lx
{
  height: 100%;
  width: 100%;
  /* background: cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lazyloder
{
  height: 250px;
  width: 250px;
  border: 10px solid red;
  border-radius: 40px;
  animation:  animate 5s linear infinite;
  margin: 200px 0 270px 0;
  text-align: center;
  line-height: 250px;
  font-size: 25px;
  font-weight: 900;
  color: red;
}
@keyframes animate
{
  100%{transform: rotate(360deg);}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
